@page "/addcomponent"

@using PrinterShop.Shared.Dtos
@using Blazored.FluentValidation
@using PrinterShop.Shared.Enums

@inject IComponentService ComponentService;
@inject NavigationManager NavigationManager;

<h3>Add Component</h3>

<EditForm Model="_component" OnSubmit="CreateComponentAsync">
    <FluentValidationValidator  />
    <div class="form-group">
        <label for="componenttype">Component Type</label>
        <InputSelect id="componenttype" @bind-Value="_component.ComponentType">
            @foreach (var type in Enum.GetValues(typeof(ComponentType)))
            {
                <option value="@type">@type.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <InputText id="brand" @bind-Value="_component.Brand" class="form-control"></InputText>
        <ValidationMessage For="() => _component.Brand" />
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <InputText id="model" @bind-Value="_component.Model" class="form-control"></InputText>
        <ValidationMessage For="() => _component.Model" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="_component.Price" class="form-control"></InputNumber>
        <ValidationMessage For="() => _component.Price" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="_component.Description" class="form-control"></InputText>
        <ValidationMessage For="() => _component.Description" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary my-2">Create Component</button>
    </div>
</EditForm>

@code {

    private ComponentDto _component = new();

    private async Task CreateComponentAsync()
    {
        await ComponentService.AddAsync(_component);
        
        NavigationManager.NavigateTo("listcomponents");
    }
    
}