@page "/adduser"

@using PrinterShop.Shared.Dtos
@using Blazored.FluentValidation
@using PrinterShop.Shared.Enums

@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>Register New User</h3>

<EditForm Model="_user" OnValidSubmit="CreateUserAsync">
    <FluentValidationValidator  />
    <div class="form-group">
        <label for="username">User Name</label>
        <InputText id="username" @bind-Value="_user.UserName" class="form-control"></InputText>
        <ValidationMessage For="() => _user.UserName" />
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <InputText id="email" @bind-Value="_user.Email" class="form-control"></InputText>
        <ValidationMessage For="() => _user.Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="_user.Password" class="form-control"></InputText>
        <ValidationMessage For="() => _user.Password" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary my-2">Create User</button>
    </div>
</EditForm>

@code {

    private UserDto _user = new();

    private async Task CreateUserAsync()
    {
        await UserService.AddAsync(_user);
        
        NavigationManager.NavigateTo("listusers");
    }
    
}